/* ==================================================
   CSS Imports
================================================== */

@import url("reset.css");
@import url("owlcarousel.css");
@import url("uikit.scrollspy.css");

/* ==================================================
   Icon Fonts
================================================== */

@import url("fonts/fontawesome/font-awesome.css");

/* ==================================================
   Google Fonts
================================================== */

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic,900,900italic");

/* ==================================================
   Global Styles
================================================== */

*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html
{
	height: 100%;
	overflow: auto;
	
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body
{
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	color: #999;
	background: #FFF;
	
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
}

::selection
{
	background: #149077;
	color: #FFF;
}

::-moz-selection
{
	background: #149077;
	color: #FFF;
}

a
{
	color: #049cdb;
	text-decoration: none;
}

	a:hover
	{
		color: #444;
	}

/* ==================================================
   Default Typography
================================================== */

p
{
	margin: 0 0 1em 0;
}

strong
{
	font-weight: 600;
}

em
{
	font-style: italic;
}

h1, h2
{
	margin: 0;
	letter-spacing: -1px;
	font-weight: 300;
	text-transform: uppercase;
}
	
	h1
	{
		font-size: 4em;
		line-height: 1em;
	}

	h1 i
	{
		color: #049cdb;
		margin-right: .2em;
	}

	h2
	{
		font-size: 2em;
		line-height: 1.1em;
		margin-bottom: 0.4em;
	}
		
	h3
	{
		font-size: 1.5em;
		font-weight: 400;
		line-height: 2.3em;
	}


.colour1
{
	background: #049cdb;
}

.colour2
{
	background: #eee;
}

/* ==================================================
   Separator Arrows
================================================== */

.arrow-separator
{
	position: relative;
}

	.arrow-separator:after
	{
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-width: 12px;
		left: 50%;
		margin-left: -12px;
		z-index: 11;
	}
	
		.arrow-white:after
		{
			border-color: #FFF rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0); /** Using RGB to remove dark line in Firefox **/
		}
		
		.arrow-theme:after
		{
			border-color: #049cdb rgba(22,160,133,0) rgba(22,160,133,0) rgba(22,160,133,0);
		}

		.arrow-grey:after
		{
			border-color: #EEE rgba(238,238,238,0) rgba(238,238,238,0) rgba(238,238,238,0);
		}

/* ==================================================
   General Layout Styles
================================================== */

.fullwidth
{
	width: 100%;
	padding: 3em 1.5em;
	min-width: 14em;
}

	.fullwidth .bodycontainer
	{
		margin: 0 auto;
		width: 100%;
		max-width: 1000px;
		text-align: center;
	}
	
#topcontainer
{

}

	#topcontainer h1
	{
		padding: .3em 0 .5em 0;
		margin-bottom: 0;
		letter-spacing: -1.5px;
		color: #444;
		font-weight: 400;
	}
	
		#topcontainer h1 span
		{
			font-size: 3.5em;
			line-height: 3.5em;
			letter-spacing: -1.4px;
			font-weight: 300;
		}

	#topcontainer p
	{
		margin-bottom: 0;
		color: #999;
	}

	#topcontainer p span
	{
		font-size: 4.5em;
		line-height: 4.5em;
		color: #1abc9c;
	}

#maincont
{
	color: #FFF;
}

	#maincont a
	{
		color: #FFF;
		opacity: .6;
	}
	
		#maincont a:hover
		{
			opacity: 1;
		}

.colour2 #maincont
{
	color: #333;
}

	.colour2 #maincont a
	{
		color: #049cdb;
	}
	

footer 
{
	background: #333;
}

#footercont
{
	position: relative;
}

	#footercont #socialmedia ul
	{
		margin: 0 0 1.5em 0;
	}

	#footercont #socialmedia ul li
	{
		display: inline-block;
		list-style-type: none;
		margin: 0 .25em;
	}

		#footercont #socialmedia ul li a
		{
			font-size: 0.9em;
			color: #efefef;
			width: 11em;
			border-radius: .4em;
			background: rgba(239, 239, 239, 0.3);
			padding: .3em .5em;
			position: relative;
			display: inline-block;
		}

			#footercont #socialmedia ul li a i
			{
				font-size: 2.2em;
				float: left;
			}

			#footercont #socialmedia ul li a span
			{
				position: absolute;
				left: 2.8em;
				top: .2em;
				line-height: 1.2em;
				text-align: left;
				width: 7.5em;
			}
		
			#footercont #socialmedia ul li a:hover
			{
				color: #049cdb;
			}

/* ==================================================
   Tile grid
================================================== */

.tiles li
{
	display: inline-block;
	margin: 2%;
	width: 20%;
	float: left;
	text-align: left;
}

	.tiles li i
	{
		margin-right: .3em;
	}

	.tiles h3 {
		overflow: hidden;
      	white-space: nowrap;
      	text-overflow: ellipsis;
	}

/* ==================================================
   Responsive Media Queries - Tablets
================================================== */

@media screen and (max-width: 768px)
{

	body
	{
		font-size: 23px;
		line-height: 29px;
	}

		#topcontainer h1 span
		{
			font-size: 3.04em;
			line-height: 3.04em;
		}
		
	.tiles li {
		display: block;
		width: 100%;
	}
	
}

/* ==================================================
   Responsive Media Queries - Mobiles
================================================== */

@media screen and (max-width: 480px)
{	

	body
	{
		font-size: 20px;
		line-height: 27px;
	}
	
	#topcontainer h1
	{
		font-size: 3em;
		line-height: 1.5em;
		
	}

		#topcontainer h1 span
		{
			font-size: 2.5em;
			line-height: 2.5em;
		}
	
	#footercont #socialmedia ul li
	{
		margin: 0 0.25em;
	}
	
}

